html, body {
    height:100%;
    color: lightgray;
    margin: 0;
  }

  header {
    position: fixed;
    top: 0;
    background-color: #666699;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

  }

  a{
    text-decoration: none;
    color: inherit;
  }

  form{
    display: flex;
    
  }

  input {
    /* border: 1px solid rgba(255,255,255,.3); */
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px 0 0 5px;
    /* border-style; */

    padding: 0 16px;
    margin-right: 0;
    /* background: #2f303a; */
  }
 
  .search-button {
    height: 40px;
    width: 70px;
    padding: 0;
    cursor:pointer;
    border: none;
    border-radius: 0 5px 5px 0; 
    background-color:#ffffffb6;
    justify-content: center;
  }

.gallery {
  margin: 10px;
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    /* gap: 30px; */
}
.photo-card{
  width: 420px;
  height: 380px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  background-color: lightgray;
  margin-bottom: 20px;
}

/* .gallery-item{

} */

.gallery-image{
  align-self: center;
  /* max-width: 420px;
  max-height: 300px; */
  width: 420px;
  height: 300px;
  object-fit:cover;

}

.info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
  color: black;
}

.info-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-more{
  display: block;
  margin: 30px auto;
  padding: 15px;

  border: none;
  border-radius: 5px;
  background-color: #666699;
  color: white;
  text-transform:uppercase;
}

.hidden{
  visibility: hidden;
}